@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="min-width:inherit; min-height:500px; border:dashed; border-color:darkgray; border-width:8px; border-radius:20px;"
     class="d-flex justify-content-center align-items-center">
    <div style="font-size:30px; font-family:Roboto-Regular; color:gray;">Put Shit Here</div>
</div>